<!DOCTYPE html>

<!-- To define that this is an angular project -->
<html ng-app="gameApp">

<!-- Getting angular libarie -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<!-- Getting Javascripts-->
<script src="AddGame.js"></script>
<script src="TildeJava.js"></script>


<head>
    <!-- Makes the page being viewable on all devices -->
    <meta charset="UTF-8">
    <meta name="viewport" content=" width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="Style.css">
</head>

<body ng-controller="gameCtrl"> <!--Needs controller for Angular functionality in Script AddGame.js-->


<div class="sidenav">
    <a href="#gamesChosen">Chosen Games</a>
    <!--Creates list of elements, updates automatically when the list from the AddGame.js is changed.-->
    <a ng-repeat="game in games">{{game}}</a>

</div>

<!--The sidebar menu, with the buger icon, unanimated-->
<div id="sidebar">
    <!-- The burger menu logo, hard coded-->
    <div class="toggle-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul>
        <li>My Account</li>
        <li>Settings (in the works)</li>
        <li>Log out</li>
    </ul>

</div>

<main>

    <div class="center">

    <form ng-submit="addGame()"> <!--Uses funtion addGame() from AddGame.js-->
        <input type="submit" value="Save to List" ng-click="gameName = 'God of War'" ng-model="gameName" >
        <input type="submit" value="Save to List" ng-click="gameName = 'Infamous: Second Son'" ng-model="gameName" >
    </form>
    </div>



</main>

</body>
</html>

