/*To bar menu*/

* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;

}

#sidebar { /*The sidebar*/

    position: fixed;
    width: 200px;
    height: 100%;
    background: teal;
    left: -200px;
    transition: all 500ms linear;
}
#sidebar.active{
    left: 0;
}

#sidebar ul li { /* Menu buttons design */
    color: aliceblue;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid darkslategray;

}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .toggle-btn span {

    display: block;
    width: 30px;
    height: 5px;
    background: black;
    margin: 5px 0;

}




