/*To bar menu*/


* { /* For all */
    font-family: sans-serif;
}

/* The fixed menu */
.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:teal;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: azure;
    display: block;
}

.sidenav a:hover {
    color: darkslategray;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#sidebar { /*The Animated sidebar*/

    position: fixed;
    width: 200px;
    height: 100%;
    background: teal;
    left: -200px;
    transition: all 500ms linear;
}
#sidebar.active{
    left: 0;
}

#sidebar ul li { /* Menu buttons design */
    color: aliceblue;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid darkslategray;

}

#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .toggle-btn span {

    display: block;
    width: 30px;
    height: 5px;
    background: black;
    margin: 5px 0;

}



.center {
    margin: auto;
    width: 60%;
    border: none;
    padding: 16px 32px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: azure;
    background-color: teal;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}

input[type=submit], input[type=button] {
    background-color: teal;
    color: azure;
}









