<!DOCTYPE html>
<html ng-app="gameApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="AddGame.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="TestCSS.css">
</head>
<body ng-controller="gameCtrl"> <!--Needs controller for Angular functionality in Script AddGame.js-->
<ul>
    <!--Creates list of elements, updates automatically when the list from the AddGame.js is changed.-->
    <li ng-repeat="game in games">{{game}}</li>
</ul>
<form ng-submit="addGame()"> <!--Uses funtion addGame() from AddGame.js-->
    <input type="submit" value="Save to List" ng-click="gameName = 'God of War'" ng-model="gameName" >
    <input type="submit" value="Save to List" ng-click="gameName = 'Infamous: Second Son'" ng-model="gameName" >
</form>


<div style="text-align:center">
    <h2>Tabbed Image Gallery</h2>
    <p>Click on the images below:</p>
</div>

<!-- Takes input -->
Search: <input ng-model="search.game" type="text"/>

<!-- Defines rows and collumns for images -->
<div class="row">
    <!-- Shows images for all items in the array. Filters items shown based on what's written in the search bar-->
    <div class="column" ng-repeat="picture in gameList | filter:search">
        <img ng-src="{{picture.img}}" alt="{{picture.gameDescription}}" style="width:100%" onclick="showImg(this);">
        <button type="submit" value="Save to List" ng-click="addGame(picture.game)">Save to List</button>
    </div>
</div>

<!-- Shows image, imagetext at the bottom of the screen and shows the closebutton on top of the image -->
<div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%">
    <div class="box", id="imgtext"></div>
</div>


</body>
</html>