<!DOCTYPE html>
<html ng-app="gameApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="AddGame.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="gameCtrl"> <!--Needs controller for Angular functionality in Script AddGame.js-->
<ul>
    <!--Creates list of elements, updates automatically when the list from the AddGame.js is changed.-->
    <li ng-repeat="game in games">{{game}}</li>
</ul>
<form ng-submit="addGame()"> <!--Uses funtion addGame() from AddGame.js-->
    <input type="submit" value="Save to List" ng-click="gameName = 'God of War'" ng-model="gameName" >
    <input type="submit" value="Save to List" ng-click="gameName = 'Infamous: Second Son'" ng-model="gameName" >
</form>



</body>
</html>